.ChatBar {
  border-bottom: 1px solid #06183d;
  /*padding: 0px 20px;*/
  height: 60px;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  /* height: 80px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 50px; */
  /* top: 50px; */
  /* z-index: 10; */
}

.ChatBarChat {
  border-bottom: 1px solid #06183d;
  /*padding: 0px 20px;*/
  height: 60px;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  /* height: 80px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 50px; */
  /* top: 50px; */
  /* z-index: 10; */
}

.ChatBarInfo {
  display: flex;
  padding: 20px 10px;
  align-items: center;
}

.ChatBarInfoChat {
  display: flex;
  padding: 20px 10px;
  align-items: center;
}

.ChatBarNameImg {
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #cf9821;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
}

.ChatBarNameImgTeams {
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #a11f1f;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}

.ChatBarTeamName {
  margin-top: 7px;
}

.ChatBarTeamNameChat {
  margin-top: 7px;
}

.ChatBarLeaveTeam {
  display: flex;
}

.ChatBarLeaveTeamChat {
  display: flex;
}

.leaveTeam {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-weight: 500;
  background: rgb(164, 13, 8);
  padding: 5px 20px;
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  justify-items: center;
  flex-direction: row;
  cursor: pointer;
  border: 3px solid rgb(255, 255, 255, 0);
}

.leaveTeam:hover {
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(134, 13, 8);
}

.active {
  color: #fff;
}

.tabs {
  color: rgb(170, 175, 204);
}

.chatTab:hover {
  border-bottom: 3px solid #97a4ca;
  color: #fff;
}

.noteTab:hover {
  border-bottom: 3px solid #97a4ca;
  color: #fff;
}

.CharBarRight {
  display: flex;
  align-items: center;
}

.ChatBarVideoCalling {
  margin-right: 35px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.ChatBarVideoCallingChat {
  margin-right: 35px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.codeBtn {
  margin-left: 10px;
  margin-top: 10px;
  background: inherit !important;
  border: none !important;
  box-shadow: none !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.codeBtn:hover {
  color: #7F85F5 !important;
  font-weight: 600 !important;
}

.dropdownBody .codeBody {
  width: 320px;
  right: auto !important;
  top: 70px !important;
}

.teamCode {
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
  /* max-width: 500px;
  width: 100%; */
}

.leftArrow {
  height: 40px;
  width: 40px;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 20px;
}

.leftArrowImage {
  height: 40px;
  width: 40px;
}

.leftArrow:hover {
  color: #fff;
}

.tabs {
  display: flex;
  padding: 0 10px;
}

.tabs div {
  padding: 12px 10px;
  cursor: pointer;
  font-size: 16px;
  height: 100%;
}

#chatTab {
  margin-top: 10px;
}

#notesTab {
  margin-top: 10px;
}

.active {
  border-bottom: 3px solid #6d6fd8;
}

.copy {
  cursor: pointer;
  background: #6d6fd8;
  width: fit-content;
  padding: 2px 10px;
  display: inline;
  margin: 10px 0px;
  float: right;
  border-radius: 4px;
}

@media only screen and (max-width: 515px) {
  .ChatBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: unset;
  }

  .ChatBarInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #06183d;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .ChatBarNameImgTeams {
    margin-left: 15px;
  }

  .ChatBarTeamName {
    margin-left: -75px;
  }

  .ChatBarLeaveTeam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .ChatBarVideoCalling {
    margin-right: 0px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
  }

  .leaveTeam {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 3px;
    display: flex;
    justify-items: center;
    flex-direction: row;
  }
}

@media only screen and (max-width: 500px) {
  .ChatBarTeamName {
    margin-left: -58px;
  }
}

@media only screen and (max-width: 450px) {
  .ChatBarTeamName {
    margin-left: -28px;
  }

  .leftArrow {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 390px) {
  .ChatBarTeamName {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 376px) {
  .ChatBarInfo {
    padding: 0px 5px;
  }
}