.teams {
  margin-left: 65px;
  /* min-height: calc(100vh - 50px); */
  top: 50px;
  min-height: 100vh;
  background-color: #1e3e7d;
  color: #fff;
  padding-top: 50px;
}

.teamsFullWidth {
  padding-bottom: 60px;
  /* min-height: calc(100vh - 50px); */
  top: 50px;
  min-height: 100vh;
  background-color: #1e3e7d;
  color: #fff;
  padding-top: 50px;
}

.createTeamsList, .createTeamsListFullWidth {
  min-height: 500px;
  background-color: #1e3e7d;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.createTeamsList {
  padding: 20px 20px;
  justify-content: center;
}

.teamsNav {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 0;
  flex-wrap: wrap;
  margin: 1.2% 0;
}

.teamsTitle {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 1.1%;
}