.sideNavbar {
  height: 100vh;
  width: 85px;
  background-color: #012169;
  position: fixed;
  /* margin-right: 60px; */
  color: #eee;
  text-align: center;
  top: 50px;
}

.bottomNavbar {
  width: 100%;
  bottom: 0;
  height: 60px;
  position: fixed;
  background-color: #012169;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideNavbar div {
  padding-top: 10px;
  font-size: 15px;
}

.sideNavlink {
  font-size: 10px;
  padding: 1px;
  cursor: pointer;
  background-color: #012169;
}

.sideNavlink:hover {
  background-color: #072e8b;
}

.activeLink {
  color: #7f81e1;
  font-weight:600;
  border-left: 4px solid #7f81e1;
  font-size: 15px;
  cursor: pointer;
}

.activeLink:hover {
  background-color: #072e8b;
}

.sideNavlink div{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hoverSideBarIcon {
  width: 0;
  height: 0;
}

.currentSideBarIcon:hover {
  /* display: none; */
  color: #7f81e1;
}

.hoverSideBarIcon:hover {
  width: 20px;
  height: 20px;
}

.bottomNavbar .sideNavItems {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  text-align: center;
  color: #eee;
  width: 100%;
}

.bottomNavbar .sideNavlink {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
}

.bottomNavbar .activeLink {
  /* border-bottom: 2px solid #7f81e1; */
  border-left: none;
  text-align: center;
}

.bottomNavbar .sideNavlink .activeSideNavLink {
  color: #7f81e1;
  font-weight: 600;
  border-bottom: 3px solid #7f81e1;
  border-left: none;
  /* padding: 0 5px; */
  text-align: center;
  font-size: 15px;
}

@media only screen and (max-width: 725px) {
  .sideNavbar {
    width: 100%;
    bottom: 0;
    height: 65px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: unset;
  }

  .sideNavbar .sideNavItems {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #eee;
    width: 100%;
  }
  
  .sideNavbar .sideNavlink {
    display: unset;
    flex-direction: column;
    text-align: center;
    padding: 5px 20px;
    border-bottom: 3px solid rgb(238, 238, 238, 0);
  }
  
  .sideNavbar .activeLink {
    border-left: none;
    text-align: center;
    padding: 5px 20px;
    border-bottom: 3px solid #7f81e1;
  }
  
  .sideNavbar div {
    padding-top: 0px;
    font-size: 15px;
  }
}