.createTeamsModalBtn {
  background-color: #5456d9 !important;
  outline: none;
  border: none !important;
  /*border-color: #7f81e1 !important;*/
  color: #fff;
  padding: 7px 25px !important;
  font-weight: 700 !important;
  border-radius: 3px !important;
}

.createTeamsModalBtn:hover {
  background-color: #4647ac !important;
  /*border-color: #5a5de7 !important;*/
}

.createTeamsModalBtn:focus {
  box-shadow: none !important;
}

.modal-backdrop {
  background-color: #333 !important;
}

.modalCreateTeamsBody {
  background-color: #152b59;
  color: #fff;
  box-shadow: 0px 7px 20px 3px #141841;
  border: none !important;
  border-radius: 5px;
}

.modalCreateTeamsBody {
  display: flex;
  flex-direction: column;
  padding: 50px !important;
}

.modalCreateTeamsBodyHeading {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 20px;
}

.modalCreateTeamsBodyPara {
  font-size: 15px;
  padding-bottom: 25px;
}

.inputCreateTeamLabel {
  font-size: 14px;
  padding-bottom: 5px;
}

.inputCreateTeam {
  height: 40px;
  background-color: inherit;
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  padding: 7px 10px;
  border-bottom: 2px solid rgb(30, 31, 63);
  resize: none;
}

.inputCreateTeam::placeholder {
  color: #B0C4DE;
}

.inputCreateTeam:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #7f81e1 !important;
}

.modalCreateTeamsBodyBtns {
  display: flex;
  justify-content: flex-end;
}

.modalCreateTeamsBodyCancelBtn {
  border: none !important;
  background-color: rgb(129, 18, 18) !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  padding: 5px 20px !important;
  border-radius: 2px !important;
}

.modalCreateTeamsBodyCancelBtn:hover {
  background-color: rgb(113, 17, 17) !important;
}

.modalCreateTeamsBodySubmit {
  border: none !important;
  background-color: #5456d9 !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  padding: 5px 20px !important;
  margin-left: 10px;
  border-radius: 2px !important;
}

.modalCreateTeamsBodySubmit:not(:disabled):not(.disabled):hover{
  background-color: #4647ac !important;
}
