.modal-content {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  pointer-events: auto !important;
  border: none !important;
  outline: 0 !important;
  background-color: unset !important;
  background-clip: unset !important;
}

.modal-backdrop {
  background-color: #333 !important;
}

.modalViewNotesBody {
  background-color: #152b59;
  color: #fff;
  box-shadow: 0px 7px 20px 3px #141841;
  border: none !important;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 50px !important;
}

.modalViewNotesBodyHeading {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

.modalViewNotesBodyBtns {
  display: flex;
  justify-content: flex-end;
}

.modalViewNotesBodyCancelBtn {
  border: none !important;
  background-color: #5456d9 !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  padding: 5px 20px !important;
  border-radius: 2px !important;
  border: 3px solid rgba(210, 210, 210, 0) !important;
  transition: none !important;
}

.modalViewNotesBodyCancelBtn:hover {
  background-color: #4647ac !important;
  border: 3px solid rgba(210, 210, 210) !important;
}

.modalViewNotesBodyCancelBtn:focus {
  box-shadow: none !important;
}

@media only screen and (max-width: 426px) {
  .modalViewNotesBody {
    padding: 30px !important;
  }
}

@media only screen and (max-width: 350px) {
  .modalViewNotesBodyCancelBtn {
    margin-top: 30px;
  }
}