.Notes {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notesHeader {
  display: flex;
  justify-content: flex-end;
  padding: 10px 40px 0 10px;
}

.createNotes {
  background-color: #161616;
  border: 1px solid #888;
  padding: 5px 25px;
}

.allNotes {
  height: calc(100vh - 175px);
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  flex-wrap: wrap;
  width: 100%;
}

.allNotesFullWidth {
  height: calc(100vh - 230px);
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  flex-wrap: wrap;
  width: 100%;
}

.note {
  background-color: #152b59;
  cursor: pointer;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  height: 120px;
  border: 3px solid rgb(210, 210, 210, 0);
}

.note:hover {
  border: 3px solid rgb(210, 210, 210);
}

.headingNote {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 10px;
  /* background-color: #161616; */
}

.descriptionNote {
  font-size: 15px;
  font-style: italic;
  margin-left: 10px;
}
