.teamLeftSide {
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.teamLeftSideImg {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #811616;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-radius: 2px;
  font-weight: 700;
}

.teamLeftSideName {
  font-size: 1.2rem;
  font-weight: 600;
}
