.headBar {
  display: flex;
  position: fixed;
  background-color: #012169;
  height: 60px;
  width: 100%;
  color: #fff;
  /* margin-bottom: 50px; */
  top: 0;
}

.headBarBox {
  width: 65px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 8px 0;
}

.SnappyLogo {
  height: 35px;
  width: 35px;
  margin-left: 25px;
}

.headSubBarBox {
  display: flex;
  width: calc(100% - 65px);
  /* width: 100%; */
  align-items: center;
}

.headBarHeading {
  flex: 3;
}

.headBarText {
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}

.headBarSearch {
  flex: 9;
  display: flex;
  justify-content: space-between;
}

.headerBarSearchInput {
  width: 65%;
  /* height: 25px; */
  background-color: #073980;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  z-index: 1000;
}

.headerBarSearchInput::placeholder {
  color: #B0C4DE;
}

.headerBarProfile {
  padding-right: 30px;
}

.headerBarProfileImg {
  height: 40px;
  width: 40px;
  background-color: #7f81e1 !important;
  border-color: #7f81e1 !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headerBarProfileImg:focus {
  box-shadow: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdownBody {
  top: 2px !important;
  background-color: #073980 !important;
  color: #fff !important;
  box-shadow: 0px 0px 8px 3px #0a204e;
  /* right: -10px !important; */
  left: 100% !important;
  min-width: 350px !important;
  padding: 0 0 !important;
  position: absolute !important;
  inset: 0px auto auto 0px !important;
  margin: 0px !important;
  transform: translate3d(-310px, 42px, 0px) !important;
}

.profileOfUser {
  display: flex;
  align-items: center;
  padding: 15px 20px 15px;
  border-bottom: 2px solid #0a204e;
}

.profileOfUserImg {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #7f81e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.profileOfUserImgDetails {
  padding: 0 10px;
  margin-left: 10px;
}

.profileOfUserImgDetailsName {
  font-size: 17px;
  font-weight: 700;
}

.profileOfUserImgDetailsEmail {
  font-size: 13px;
  color: #aaa;
  font-weight: 400;
}

.signout {
  padding: 15px 20px;
  font-weight: 500;
  color: #ddd;
  cursor: pointer;
}

@media only screen and (max-width: 862px) {
  .headBarSearch {
    /* flex: 12;
    justify-content: space-between; */
    width: 95%;
  }

  .headerBarSearchInput {
    width: 90%;
    /* margin-left: 20px; */
    text-align: left;
  }

  .headSubBarBox {
    width: 95%;
    margin: 0 20px;
    justify-content: space-between;
  }

  .headerBarProfile {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .headerBarSearchInput {
    width: 80%;
  }
}
