.Loading{
    width: 100%;
    height: 100vh;
    background: #012169;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoadingImage{
    width: 150px;
    height: 150px;
}

.LoadingGif {
    width: 400px;
    height: 300px;
}