.SearchResults {
  background-color: #275faf;
  top: 40px;
  position: absolute;
  width: 47.1%;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 3px;
  z-index: 10000;
}

.SearchUserDetails {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222;
  padding: 7px 10px;
  cursor: pointer;
  z-index: 10000;
}

.SearchUserDetails:last-child {
  border: none;
}

.SearchUserDetailsName {
  font-size: 14px;
  padding-right: 10px;
  font-weight: 300;
}

.SearchUserDetailsEmail {
  font-size: 12px;
  padding-left: 10px;
  color: #ccc;
}

@media only screen and (max-width: 862px) {
  .SearchResults {
    width: 75%;
    top: 50px
  }
}
