.JoinTeams {
  background-color: inherit;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(30, 31, 63);
  width: 220px;
  padding: 10px;
  color: #eee;
  border-radius: 2px;
}

.JoinTeams::placeholder {
  color: #B0C4DE;
}

.JoinTeams:hover {
  background-color: #0f1e42;
}

.JoinTeams:focus {
  border-bottom: 2px solid #7f81e1;
  background-color: #0f1e42;
}
